@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


@theme inline {
   --font-haskoy-bold: var(--font-Haskoy_B);
   --font-haskoy-extrabold: var(--font-Haskoy_EB);
   --font-satoshi-regular: var(--font-Satoshi_R);
   --font-satoshi-medium: var(--font-Satoshi_M);
   /*  */
   --color-background: var(--background);
   --color-headline: var(--headline);
   --color-paragraph: var(--paragraph);
   --color-button: var(--button);
   --color-button-text: var(--button-text);
   --color-stroke: var(--stroke);
   --color-main: var(--main);
   --color-highlight: var(--highlight);
   --color-secondary: var(--secondary);
   --color-tertiary: var(--tertiary);
   --color-card-background: var(--card-background);
   --color-card-heading: var(--card-heading);
   --color-card-tag-bg: var(--card-tag-bg);
   --color-card-tag-text: var(--card-tag-text);
   --color-card-paragraph: var(--card-paragraph);
   --color-link: var(--link);
   --color-form-input: var(--form-input);
   --color-form-label: var(--form-label);
   --color-form-placeholder: var(--form-placeholder);
   --color-form-button: var(--form-button);
   --color-form-button-text: var(--form-button-text);
   --color-border: var(--border);

}

@layer utilities {
   body {
      font-family: var(--font-Satoshi_R), sans-serif;
   }
}

:root {
   --background: #fffffe;
   --headline: #2b2c34;
   --paragraph: #2b2c34;
   --button: #6246ea;
   --button-text: #fffffe;
   --stroke: #2b2c34;
   --main: #ffffff;
   --highlight: #6246ea;
   --secondary: #d1d1e9;
   --tertiary: #e45858;
   --card-background: #d1d1e9;
   --card-heading: #2b2c34;
   --card-tag-bg: #6246ea;
   --card-tag-text: #fffffe;
   --card-paragraph: #2b2c34;
   --link: #6246ea;
   --form-input: #fffffe;
   --form-label: #2b2c34;
   --form-placeholder: #2b2c34;
   --form-button: #6246ea;
   --form-button-text: #fffffe;
   --border: #e45858;
}

.dark {
   --background: #16161a;
   --headline: #fffffe;
   --paragraph: #94a1b2;
   --button: #7f5af0;
   --button-text: #fffffe;
   --stroke: #010101;
   --main: #fffffe;
   --highlight: #6246ea;
   --secondary: #242629;
   --tertiary: #e45858;
   --card-background: #16161a;
   --card-heading: #fffffe;
   --card-paragraph: #94a1b2;
   --card-tag-bg: #6246ea;
   --card-tag-text: #fffffe;
   --link: #6246ea;
   --form-input: #fffffe;
   --form-label: #fffffe;
   --form-placeholder: #fffffe;
   --form-button: #6246ea;
   --form-button-text: #fffffe;
   --border: #e45858;
}


@layer base {
   * {
      @apply border-tertiary;
   }

   body {
      @apply bg-background text-headline;
   }
}